.article {
  padding-bottom: 100px;

  &__row {
    display: flex;
    justify-content: space-between;
    column-gap: 35px;


    &-box {
      display: flex;
      align-items: center;
      column-gap: 20px;

      &-left {
        img {
          width: 100px;
          height: 100%;
        }
      }
      @media screen and (max-width: 992px){
        &-left {
          img {
            width: 50px;
            height: 100%;
          }
        }
      }

      &-right {
        &-title {
          margin: 0 0 10px 0;
          font-weight: 700;
          font-size: 22px;
          line-height: 19px;
          color: var(--black-color);
        }

        @media screen and (max-width: 1200px) {
          &-title {
            font-size: 17px;
          }
        }
        @media screen and (max-width: 1024px){
          &-title {
            font-size: 15px;
          }
        }

        &-desc {
          margin: 0;
          font-weight: 300;
          font-size: 15px;
          line-height: 16px;
          display: flex;
          align-items: center;
          color: var(--black-color);
        }
      }
    }

    @media screen and (max-width: 992px) {
      &-box {
        width: calc(50% - 25px);
      }
    }

    @media screen and (max-width: 576px) {
      &-box {
        width: 100%;
      }
    }
  }

  @media screen and (max-width: 1024px){
    &__row {
     column-gap: 35px;
    }
  }

  @media screen and (max-width: 992px) {
    &__row {
      flex-wrap: wrap;
      row-gap: 20px;
    }
  }
  @media screen and (max-width: 576px) {
    &__row {
      row-gap: 40px;
    }
  }
}

@media screen and (max-width: 992px) {
  .article {
    padding-bottom: 50px;
  }
}
