.sing__container {
  padding: 100px 0;

  &-wrapper {
    background-color: #fff;
    border: 0.5px solid #000;
    border-radius: 8px;
    padding: 60px;
    display: flex;
    align-items: center;

    &-left {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 50%;

      img {
        width: 295px;
        height: 350px;
      }
    }

    @media screen and (max-width: 1440px) {
      &-left {
        img {
          width: 225px;
          height: 400px;
        }
      }
    }

    @media screen and (max-width: 760px) {
      &-left {
       display: none;
      }
    }

    &-right {
      width: 50%;
      background-color: #fff;
      box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
      border-radius: 8px;
      padding: 50px 40px;

      &-header {
        border-bottom: 1px solid #000;
      }

      @media screen and (max-width: 1440px) {
        &-header {
          img {
            width: 190px;
          }
        }
      }

      &-title {
        font-weight: 800;
        font-size: 55px;
        line-height: 75px;
        color: #000000;
        margin: 18px 0 45px 0;
      }

      @media screen and (max-width: 1440px) {
        &-title {
          font-weight: 800;
          font-size: 38px;
          color: #000000;
          margin: 15px 0;
        }
      }

      &-inputs {
        display: flex;
        justify-content: space-between;
        align-items: center;
        column-gap: 40px;

        .checkbox {
          display: flex;
          align-items: center;
          column-gap: 10px;
          flex-direction: inherit;
        }

        input[type="checkbox"] {
          position: relative;
          width: 15%;
          -webkit-appearance: none;
          height: 16px;
          background: #808080FF;
          outline: none;
          border-radius: 30px;
          box-shadow: inset 0 0 4px 1px rgba(0, 0, 0, 0.08);
          transition: 0.5s;
        }

        @media screen and (max-width: 760px){
          input[type="checkbox"]{
            width: 22%;
          }
        }

        input[type="checkbox"]:checked {
          background: #3799eb;
        }

        input[type="checkbox"]:before {
          content: '';
          position: absolute;
          width: 10px;
          height: 10px;
          left: 1px;
          background-color: #fff;
          border-radius: 50%;
          top: 2px;
          transform: scale(1.1);
          transition: 0.5s;
        }

        input[type="checkbox"]:checked:before {
          left: 20px;
        }

        label {
          display: flex;
          flex-direction: column;
          row-gap: 5px;
          font-weight: 300;
          font-size: 12px;
          line-height: 16px;
          color: #171717;
          flex: 1;

          input {
            background-color: #fff;
            border: 0.5px solid #737373;
            border-radius: 4px;
            padding: 5px;
            outline: none;
          }
        }

        &-link {
          font-weight: 300;
          font-size: 13px;
          line-height: 18px;
          color: #171717;
          text-align: right;
        }

        &:not(:last-child) {
          margin-bottom: 25px;
        }
      }

      @media screen and (max-width: 760px){
        &-inputs{

          &:first-child{
            flex-direction: column;
          }

          label{
            width: 100%;
          }
        }
      }

      &-button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-top: 32px;

        button {
          background-color: #fa3838;
          border-radius: 6px;
          padding: 15px 0;
          font-weight: 300;
          font-size: 12px;
          line-height: 16px;
          color: #fff;
          width: 100%;
        }

        @media screen and (max-width: 1440px){
          button{
            padding: 10px 0;
          }
        }
      }

      &-bottom {
        margin-top: 30px;

        &-link {
          font-weight: 300;
          font-size: 13px;
          line-height: 18px;
          color: #00358c;
        }
      }
    }

    @media screen and (max-width: 1440px) {
      &-right {
        padding: 40px 30px;
      }
    }
    @media screen and (max-width: 760px) {
      &-right {
        padding: 20px;
        width: 100%;
      }
    }
  }

  @media screen and (max-width: 1440px) {
    &-wrapper {
      padding: 40px;
    }
  }
  @media screen and (max-width: 760px) {
    &-wrapper {
      padding: 0;
      border: none;
    }
  }
}

@media screen and (max-width: 1440px){
  .sing__container{
    padding: 40px 20px;
  }
}
