<div class="accordion">
  <div class="container-fluid">
    <h3 class="accordion__title">ANCHOR Factors</h3>
    <div class="accordion__wrapper">
      <p class="accordion__wrapper-title">INTERNAL<span>AUDIENCE</span></p>
      <p class="accordion__wrapper-title">EXTERNAL<span>AUDIENCE</span></p>
      <div class="accordion__wrapper-items">
        <!--    1   -->
        <div class="accordion__wrapper-items-block">
          <div class="accordion__wrapper-items-block-text">
            <p class="accordion__wrapper-items-block-text-title">Change</p>
            <div class="accordion__wrapper-items-block-text-tooltip">
              <div class="accordion__wrapper-items-block-text-tooltip-header">
                <img src="img/accordion/info.svg" alt="">
                <p>Change</p>
              </div>
              <span>
                Thismis all about Change
              </span>
            </div>
          </div>
          <div class="accordion__wrapper-items-block-img">
            <img src="img/accordion/1.svg" alt="">
          </div>

          <div class="accordion__item arrowBtn">
            <div class="accordion__slot">
              <div class="accordion__button">
                <img src="img/accordion/arrowLeft.svg" alt="">
                <span><b>A</b>MBITION</span>
                <img src="img/accordion/arrowRight.svg" alt="">
              </div>
            </div>
          </div>

          <div class="accordion__wrapper-items-block-img">
            <img src="img/accordion/2.svg" alt="">
          </div>
          <div class="accordion__wrapper-items-block-text">
            <p class="accordion__wrapper-items-block-text-title">Consistency</p>
            <div class="accordion__wrapper-items-block-text-tooltip">
              <div class="accordion__wrapper-items-block-text-tooltip-header">
                <img src="img/accordion/info.svg" alt="">
                <p>Change</p>
              </div>
              <span>
                Thismis all about Change
              </span>
            </div>
          </div>
          <div class="accordion__wrapper-items-block-arrow arrowBtn ">
            <img src="img/accordion/arrowIcon.svg" alt="">
          </div>
        </div>
        <div class="accordion__wrapper-items-panel">
          <div class="accordion__wrapper-items-panel-header">
            <img src="img/accordion/info.svg" alt="">
            <h3 class="accordion__wrapper-items-panel-header-title">Ambition</h3>
          </div>
          <p class="accordion__wrapper-items-panel-desc">
            Sideminds are experienced board level marketing leaders, who are qualified in executive coaching from
            Ashridge-Hult Business School.
          </p>
          <p class="accordion__wrapper-items-panel-desc">
            We have experienced the highs and lows of the role and understand the unique requirements for the marketing
            leader to inspire both the marketing and senior leadership team.
          </p>
          <p class="accordion__wrapper-items-panel-desc">
            Exceptional marketing leaders are more than just great marketers, they are the ultimate bridge between the
            organisation and the customer, who provide ongoing counsel and guidance to others, find new growth
            opportunities whilst delivering results today, and constantly ensuring key decision makers are informed and
            aligned across all departments and channels.
          </p>
          <p class="accordion__wrapper-items-panel-desc">
            Success in role is far less about functional capability, but the ability to lead, shape opinions, get
            collective buy-in and inspire key stakeholders.
          </p>
          <p class="accordion__wrapper-items-panel-desc">
            Sideminds’ executive coaching approach helps the marketing leader find their way to be more effective, more
            quickly with key stakeholders.
          </p>
        </div>
        <!--    2   -->
        <div class="accordion__wrapper-items-block">
          <div class="accordion__wrapper-items-block-text">
            <p class="accordion__wrapper-items-block-text-title">Challenge</p>
            <div class="accordion__wrapper-items-block-text-tooltip ">
              <div class="accordion__wrapper-items-block-text-tooltip-header">
                <img src="img/accordion/info.svg" alt="">
                <p>Change</p>
              </div>
              <span>
                Thismis all about Change
              </span>
            </div>
          </div>
          <div class="accordion__wrapper-items-block-img">
            <img src="img/accordion/3.svg" alt="">
          </div>

          <div class="accordion__item arrowBtn">
            <div class="accordion__slot">
              <div class="accordion__button">
                <img src="img/accordion/arrowLeft.svg" alt="">
                <span><b>N</b>etwork</span>
                <img src="img/accordion/arrowRight.svg" alt="">
              </div>
            </div>
          </div>

          <div class="accordion__wrapper-items-block-img">
            <img src="img/accordion/4.svg" alt="">
          </div>
          <div class="accordion__wrapper-items-block-text">
            <p class="accordion__wrapper-items-block-text-title">Unity</p>
            <div class="accordion__wrapper-items-block-text-tooltip ">
              <div class="accordion__wrapper-items-block-text-tooltip-header">
                <img src="img/accordion/info.svg" alt="">
                <p>Change</p>
              </div>
              <span>
                Thismis all about Change
              </span>
            </div>
          </div>
          <div class="accordion__wrapper-items-block-arrow arrowBtn">
            <img src="img/accordion/arrowIcon.svg" alt="">
          </div>
        </div>
        <div class="accordion__wrapper-items-panel">
          <div class="accordion__wrapper-items-panel-header">
            <img src="img/accordion/info.svg" alt="">
            <h3 class="accordion__wrapper-items-panel-header-title">Network</h3>
          </div>
          <p class="accordion__wrapper-items-panel-desc">
            Sideminds are experienced board level marketing leaders, who are qualified in executive coaching from
            Ashridge-Hult Business School.
          </p>
          <p class="accordion__wrapper-items-panel-desc">
            We have experienced the highs and lows of the role and understand the unique requirements for the marketing
            leader to inspire both the marketing and senior leadership team.
          </p>
          <p class="accordion__wrapper-items-panel-desc">
            Exceptional marketing leaders are more than just great marketers, they are the ultimate bridge between the
            organisation and the customer, who provide ongoing counsel and guidance to others, find new growth
            opportunities whilst delivering results today, and constantly ensuring key decision makers are informed and
            aligned across all departments and channels.
          </p>
          <p class="accordion__wrapper-items-panel-desc">
            Success in role is far less about functional capability, but the ability to lead, shape opinions, get
            collective buy-in and inspire key stakeholders.
          </p>
          <p class="accordion__wrapper-items-panel-desc">
            Sideminds’ executive coaching approach helps the marketing leader find their way to be more effective, more
            quickly with key stakeholders.
          </p>
        </div>
        <!--    3   -->
        <div class="accordion__wrapper-items-block">
          <div class="accordion__wrapper-items-block-text">
            <p class="accordion__wrapper-items-block-text-title">Assertive</p>
            <div class="accordion__wrapper-items-block-text-tooltip ">
              <div class="accordion__wrapper-items-block-text-tooltip-header">
                <img src="img/accordion/info.svg" alt="">
                <p>Change</p>
              </div>
              <span>
                Thismis all about Change
              </span>
            </div>
          </div>
          <div class="accordion__wrapper-items-block-img">
            <img src="img/accordion/5.svg" alt="">
          </div>

          <div class="accordion__item arrowBtn">
            <div class="accordion__slot">
              <div class="accordion__button">
                <img src="img/accordion/arrowLeft.svg" alt="">
                <span><b>C</b>APABILITY</span>
                <img src="img/accordion/arrowRight.svg" alt="">
              </div>
            </div>
          </div>

          <div class="accordion__wrapper-items-block-img">
            <img src="img/accordion/6.svg" alt="">
          </div>
          <div class="accordion__wrapper-items-block-text">
            <p class="accordion__wrapper-items-block-text-title">Supportive</p>
            <div class="accordion__wrapper-items-block-text-tooltip ">
              <div class="accordion__wrapper-items-block-text-tooltip-header">
                <img src="img/accordion/info.svg" alt="">
                <p>Change</p>
              </div>
              <span>
                Thismis all about Change
              </span>
            </div>
          </div>
          <div class="accordion__wrapper-items-block-arrow arrowBtn">
            <img src="img/accordion/arrowIcon.svg" alt="">
          </div>
        </div>
        <div class="accordion__wrapper-items-panel">
          <div class="accordion__wrapper-items-panel-header">
            <img src="img/accordion/info.svg" alt="">
            <h3 class="accordion__wrapper-items-panel-header-title">Capability</h3>
          </div>
          <p class="accordion__wrapper-items-panel-desc">
            Sideminds are experienced board level marketing leaders, who are qualified in executive coaching from
            Ashridge-Hult Business School.
          </p>
          <p class="accordion__wrapper-items-panel-desc">
            We have experienced the highs and lows of the role and understand the unique requirements for the marketing
            leader to inspire both the marketing and senior leadership team.
          </p>
          <p class="accordion__wrapper-items-panel-desc">
            Exceptional marketing leaders are more than just great marketers, they are the ultimate bridge between the
            organisation and the customer, who provide ongoing counsel and guidance to others, find new growth
            opportunities whilst delivering results today, and constantly ensuring key decision makers are informed and
            aligned across all departments and channels.
          </p>
          <p class="accordion__wrapper-items-panel-desc">
            Success in role is far less about functional capability, but the ability to lead, shape opinions, get
            collective buy-in and inspire key stakeholders.
          </p>
          <p class="accordion__wrapper-items-panel-desc">
            Sideminds’ executive coaching approach helps the marketing leader find their way to be more effective, more
            quickly with key stakeholders.
          </p>
        </div>
        <!--    4   -->
        <div class="accordion__wrapper-items-block">
          <div class="accordion__wrapper-items-block-text">
            <p class="accordion__wrapper-items-block-text-title">Creative</p>
            <div class="accordion__wrapper-items-block-text-tooltip ">
              <div class="accordion__wrapper-items-block-text-tooltip-header">
                <img src="img/accordion/info.svg" alt="">
                <p>Change</p>
              </div>
              <span>
                Thismis all about Change
              </span>
            </div>
          </div>
          <div class="accordion__wrapper-items-block-img">
            <img src="img/accordion/7.svg" alt="">
          </div>

          <div class="accordion__item arrowBtn">
            <div class="accordion__slot">
              <div href="#" class="accordion__button">
                <img src="img/accordion/arrowLeft.svg" alt="">
                <span><b>H</b>EADSPACE</span>
                <img src="img/accordion/arrowRight.svg" alt="">
              </div>
            </div>
          </div>

          <div class="accordion__wrapper-items-block-img">
            <img src="img/accordion/8.svg" alt="">
          </div>
          <div class="accordion__wrapper-items-block-text">
            <p class="accordion__wrapper-items-block-text-title">Conversion</p>
            <div class="accordion__wrapper-items-block-text-tooltip ">
              <div class="accordion__wrapper-items-block-text-tooltip-header">
                <img src="img/accordion/info.svg" alt="">
                <p>Change</p>
              </div>
              <span>
                Thismis all about Change
              </span>
            </div>
          </div>
          <div class="accordion__wrapper-items-block-arrow arrowBtn">
            <img src="img/accordion/arrowIcon.svg" alt="">
          </div>
        </div>
        <div class="accordion__wrapper-items-panel">
          <div class="accordion__wrapper-items-panel-header">
            <img src="img/accordion/info.svg" alt="">
            <h3 class="accordion__wrapper-items-panel-header-title">Headspace</h3>
          </div>
          <p class="accordion__wrapper-items-panel-desc">
            Sideminds are experienced board level marketing leaders, who are qualified in executive coaching from
            Ashridge-Hult Business School.
          </p>
          <p class="accordion__wrapper-items-panel-desc">
            We have experienced the highs and lows of the role and understand the unique requirements for the marketing
            leader to inspire both the marketing and senior leadership team.
          </p>
          <p class="accordion__wrapper-items-panel-desc">
            Exceptional marketing leaders are more than just great marketers, they are the ultimate bridge between the
            organisation and the customer, who provide ongoing counsel and guidance to others, find new growth
            opportunities whilst delivering results today, and constantly ensuring key decision makers are informed and
            aligned across all departments and channels.
          </p>
          <p class="accordion__wrapper-items-panel-desc">
            Success in role is far less about functional capability, but the ability to lead, shape opinions, get
            collective buy-in and inspire key stakeholders.
          </p>
          <p class="accordion__wrapper-items-panel-desc">
            Sideminds’ executive coaching approach helps the marketing leader find their way to be more effective, more
            quickly with key stakeholders.
          </p>
        </div>
        <!--    5   -->
        <div class="accordion__wrapper-items-block">
          <div class="accordion__wrapper-items-block-text">
            <p class="accordion__wrapper-items-block-text-title">Connection</p>
            <div class="accordion__wrapper-items-block-text-tooltip ">
              <div class="accordion__wrapper-items-block-text-tooltip-header">
                <img src="img/accordion/info.svg" alt="">
                <p>Change</p>
              </div>
              <span>
                Thismis all about Change
              </span>
            </div>
          </div>
          <div class="accordion__wrapper-items-block-img">
            <img src="img/accordion/9.svg" alt="">
          </div>

          <div class="accordion__item arrowBtn">
            <div class="accordion__slot">
              <div href="#" class="accordion__button">
                <img src="img/accordion/arrowLeft.svg" alt="">
                <span><b>O</b>UTPUT</span>
                <img src="img/accordion/arrowRight.svg" alt="">
              </div>
            </div>
          </div>

          <div class="accordion__wrapper-items-block-img">
            <img src="img/accordion/10.svg" alt="">
          </div>
          <div class="accordion__wrapper-items-block-text">
            <p class="accordion__wrapper-items-block-text-title">Analytical</p>
            <div class="accordion__wrapper-items-block-text-tooltip ">
              <div class="accordion__wrapper-items-block-text-tooltip-header">
                <img src="img/accordion/info.svg" alt="">
                <p>Change</p>
              </div>
              <span>
                Thismis all about Change
              </span>
            </div>
          </div>
          <div class="accordion__wrapper-items-block-arrow arrowBtn">
            <img src="img/accordion/arrowIcon.svg" alt="">
          </div>
        </div>
        <div class="accordion__wrapper-items-panel">
          <div class="accordion__wrapper-items-panel-header">
            <img src="img/accordion/info.svg" alt="">
            <h3 class="accordion__wrapper-items-panel-header-title">Output</h3>
          </div>
          <p class="accordion__wrapper-items-panel-desc">
            Sideminds are experienced board level marketing leaders, who are qualified in executive coaching from
            Ashridge-Hult Business School.
          </p>
          <p class="accordion__wrapper-items-panel-desc">
            We have experienced the highs and lows of the role and understand the unique requirements for the marketing
            leader to inspire both the marketing and senior leadership team.
          </p>
          <p class="accordion__wrapper-items-panel-desc">
            Exceptional marketing leaders are more than just great marketers, they are the ultimate bridge between the
            organisation and the customer, who provide ongoing counsel and guidance to others, find new growth
            opportunities whilst delivering results today, and constantly ensuring key decision makers are informed and
            aligned across all departments and channels.
          </p>
          <p class="accordion__wrapper-items-panel-desc">
            Success in role is far less about functional capability, but the ability to lead, shape opinions, get
            collective buy-in and inspire key stakeholders.
          </p>
          <p class="accordion__wrapper-items-panel-desc">
            Sideminds’ executive coaching approach helps the marketing leader find their way to be more effective, more
            quickly with key stakeholders.
          </p>
        </div>
        <!--    6   -->
        <div class="accordion__wrapper-items-block">
          <div class="accordion__wrapper-items-block-text">
            <p class="accordion__wrapper-items-block-text-title">Long-Term</p>
            <div class="accordion__wrapper-items-block-text-tooltip ">
              <div class="accordion__wrapper-items-block-text-tooltip-header">
                <img src="img/accordion/info.svg" alt="">
                <p>Change</p>
              </div>
              <span>
                Thismis all about Change
              </span>
            </div>
          </div>
          <div class="accordion__wrapper-items-block-img">
            <img src="img/accordion/11.svg" alt="">
          </div>

          <div class="accordion__item arrowBtn">
            <div class="accordion__slot">
              <div href="#" class="accordion__button  ">
                <img src="img/accordion/arrowLeft.svg" alt="">
                <span><b>R</b>ESULTS</span>
                <img src="img/accordion/arrowRight.svg" alt="">
              </div>
            </div>
          </div>

          <div class="accordion__wrapper-items-block-img">
            <img src="img/accordion/12.svg" alt="">
          </div>
          <div class="accordion__wrapper-items-block-text">
            <p class="accordion__wrapper-items-block-text-title">Short-Term</p>
            <div class="accordion__wrapper-items-block-text-tooltip ">
              <div class="accordion__wrapper-items-block-text-tooltip-header">
                <img src="img/accordion/info.svg" alt="">
                <p>Change</p>
              </div>
              <span>
                Thismis all about Change
              </span>
            </div>
          </div>
          <div class="accordion__wrapper-items-block-arrow arrowBtn">
            <img src="img/accordion/arrowIcon.svg" alt="">
          </div>
        </div>
        <div class="accordion__wrapper-items-panel">
          <div class="accordion__wrapper-items-panel-header">
            <img src="img/accordion/info.svg" alt="">
            <h3 class="accordion__wrapper-items-panel-header-title">result</h3>
          </div>
          <p class="accordion__wrapper-items-panel-desc">
            Sideminds are experienced board level marketing leaders, who are qualified in executive coaching from
            Ashridge-Hult Business School.
          </p>
          <p class="accordion__wrapper-items-panel-desc">
            We have experienced the highs and lows of the role and understand the unique requirements for the marketing
            leader to inspire both the marketing and senior leadership team.
          </p>
          <p class="accordion__wrapper-items-panel-desc">
            Exceptional marketing leaders are more than just great marketers, they are the ultimate bridge between the
            organisation and the customer, who provide ongoing counsel and guidance to others, find new growth
            opportunities whilst delivering results today, and constantly ensuring key decision makers are informed and
            aligned across all departments and channels.
          </p>
          <p class="accordion__wrapper-items-panel-desc">
            Success in role is far less about functional capability, but the ability to lead, shape opinions, get
            collective buy-in and inspire key stakeholders.
          </p>
          <p class="accordion__wrapper-items-panel-desc">
            Sideminds’ executive coaching approach helps the marketing leader find their way to be more effective, more
            quickly with key stakeholders.
          </p>
        </div>
      </div>
    </div>
    <p class="accordion__bottom">Click a row for a description or click to see a case study</p>
  </div>
</div>
