<div class="accordion-experience">
  <div class="container-fluid">
    <div class="accordion-experience-block">
      <h3 class="accordion-experience-block__title">ANCHOR Factors</h3>
      <div class="accordion-experience__wrapper">
        <p class="accordion-experience__wrapper-title">INTERNAL<span>AUDIENCE</span></p>
        <p class="accordion-experience__wrapper-title">EXTERNAL<span>AUDIENCE</span></p>
        <div class="accordion-experience__wrapper-items">
          <!--    1   -->
          <div class="accordion__wrapper-items-block accordionBorder activeAccordionBlock">
            <div class="accordion__wrapper-items-block-text">
              <p class="accordion__wrapper-items-block-text-title">Change</p>
              <div class="accordion__wrapper-items-block-text-tooltip">
                <div class="accordion__wrapper-items-block-text-tooltip-header">
                  <img src="img/accordion/info.svg" alt="">
                  <p>Change</p>
                </div>
                <span>
                Thismis all about Change
              </span>
              </div>
            </div>
            <div class="accordion__wrapper-items-block-img">
              <img src="img/accordion/1.svg" alt="">
            </div>

            <div class="accordion__item">
              <div class="accordion__slot">
                <a href="#" class="accordion__button">
                  <img src="img/accordion/arrowLeft.svg" alt="">
                  <span><b>A</b>MBITION</span>
                  <img src="img/accordion/arrowRight.svg" alt="">
                </a>
              </div>
            </div>

            <div class="accordion__wrapper-items-block-img">
              <img src="img/accordion/2.svg" alt="">
            </div>
            <div class="accordion__wrapper-items-block-text">
              <p class="accordion__wrapper-items-block-text-title">Consistency</p>
              <div class="accordion__wrapper-items-block-text-tooltip">
                <div class="accordion__wrapper-items-block-text-tooltip-header">
                  <img src="img/accordion/info.svg" alt="">
                  <p>Change</p>
                </div>
                <span>
                Thismis all about Change
              </span>
              </div>
            </div>
            <div class="accordion__wrapper-items-block-arrow arrowBtn">
              <img src="img/experience/arrowIcon.svg" alt="">
            </div>
          </div>
          <div class="accordion__wrapper-items-panel">
            <div class="accordion__wrapper-items-panel-header">
              <img src="img/accordion/info.svg" alt="">
              <h3 class="accordion__wrapper-items-panel-header-title">Ambition</h3>
            </div>
            <p class="accordion__wrapper-items-panel-desc">
              Sideminds are experienced board level marketing leaders, who are qualified in executive coaching from
              Ashridge-Hult Business School.
            </p>
            <p class="accordion__wrapper-items-panel-desc">
              We have experienced the highs and lows of the role and understand the unique requirements for the marketing
              leader to inspire both the marketing and senior leadership team.
            </p>
            <p class="accordion__wrapper-items-panel-desc">
              Exceptional marketing leaders are more than just great marketers, they are the ultimate bridge between the
              organisation and the customer, who provide ongoing counsel and guidance to others, find new growth
              opportunities whilst delivering results today, and constantly ensuring key decision makers are informed and
              aligned across all departments and channels.
            </p>
            <p class="accordion__wrapper-items-panel-desc">
              Success in role is far less about functional capability, but the ability to lead, shape opinions, get
              collective buy-in and inspire key stakeholders.
            </p>
            <p class="accordion__wrapper-items-panel-desc">
              Sideminds’ executive coaching approach helps the marketing leader find their way to be more effective, more
              quickly with key stakeholders.
            </p>
          </div>
          <!--    2   -->
          <div class="accordion__wrapper-items-block accordionBorder opacityAccordionBlock">
            <div class="accordion__wrapper-items-block-text">
              <p class="accordion__wrapper-items-block-text-title">Challenge</p>
              <div class="accordion__wrapper-items-block-text-tooltip ">
                <div class="accordion__wrapper-items-block-text-tooltip-header">
                  <img src="img/accordion/info.svg" alt="">
                  <p>Change</p>
                </div>
                <span>
                Thismis all about Change
              </span>
              </div>
            </div>
            <div class="accordion__wrapper-items-block-img">
              <img src="img/accordion/3.svg" alt="">
            </div>

            <div class="accordion__item">
              <div class="accordion__slot">
                <a href="#" class="accordion__button">
                  <img src="img/accordion/arrowLeft.svg" alt="">
                  <span><b>N</b>etwork</span>
                  <img src="img/accordion/arrowRight.svg" alt="">
                </a>
              </div>
            </div>

            <div class="accordion__wrapper-items-block-img">
              <img src="img/accordion/4.svg" alt="">
            </div>
            <div class="accordion__wrapper-items-block-text">
              <p class="accordion__wrapper-items-block-text-title">Unity</p>
              <div class="accordion__wrapper-items-block-text-tooltip ">
                <div class="accordion__wrapper-items-block-text-tooltip-header">
                  <img src="img/accordion/info.svg" alt="">
                  <p>Change</p>
                </div>
                <span>
                Thismis all about Change
              </span>
              </div>
            </div>
            <div class="accordion__wrapper-items-block-arrow arrowBtn">
              <img src="img/experience/arrowIcon.svg" alt="">
            </div>
          </div>
          <div class="accordion__wrapper-items-panel">
            <div class="accordion__wrapper-items-panel-header">
              <img src="img/accordion/info.svg" alt="">
              <h3 class="accordion__wrapper-items-panel-header-title">Network</h3>
            </div>
            <p class="accordion__wrapper-items-panel-desc">
              Sideminds are experienced board level marketing leaders, who are qualified in executive coaching from
              Ashridge-Hult Business School.
            </p>
            <p class="accordion__wrapper-items-panel-desc">
              We have experienced the highs and lows of the role and understand the unique requirements for the marketing
              leader to inspire both the marketing and senior leadership team.
            </p>
            <p class="accordion__wrapper-items-panel-desc">
              Exceptional marketing leaders are more than just great marketers, they are the ultimate bridge between the
              organisation and the customer, who provide ongoing counsel and guidance to others, find new growth
              opportunities whilst delivering results today, and constantly ensuring key decision makers are informed and
              aligned across all departments and channels.
            </p>
            <p class="accordion__wrapper-items-panel-desc">
              Success in role is far less about functional capability, but the ability to lead, shape opinions, get
              collective buy-in and inspire key stakeholders.
            </p>
            <p class="accordion__wrapper-items-panel-desc">
              Sideminds’ executive coaching approach helps the marketing leader find their way to be more effective, more
              quickly with key stakeholders.
            </p>
          </div>
          <!--    3   -->
          <div class="accordion__wrapper-items-block accordionBorder opacityAccordionBlock">
            <div class="accordion__wrapper-items-block-text">
              <p class="accordion__wrapper-items-block-text-title">Assertive</p>
              <div class="accordion__wrapper-items-block-text-tooltip ">
                <div class="accordion__wrapper-items-block-text-tooltip-header">
                  <img src="img/accordion/info.svg" alt="">
                  <p>Change</p>
                </div>
                <span>
                Thismis all about Change
              </span>
              </div>
            </div>
            <div class="accordion__wrapper-items-block-img">
              <img src="img/accordion/5.svg" alt="">
            </div>

            <div class="accordion__item">
              <div class="accordion__slot">
                <a href="#" class="accordion__button">
                  <img src="img/accordion/arrowLeft.svg" alt="">
                  <span><b>C</b>APABILITY</span>
                  <img src="img/accordion/arrowRight.svg" alt="">
                </a>
              </div>
            </div>

            <div class="accordion__wrapper-items-block-img">
              <img src="img/accordion/6.svg" alt="">
            </div>
            <div class="accordion__wrapper-items-block-text">
              <p class="accordion__wrapper-items-block-text-title">Supportive</p>
              <div class="accordion__wrapper-items-block-text-tooltip ">
                <div class="accordion__wrapper-items-block-text-tooltip-header">
                  <img src="img/accordion/info.svg" alt="">
                  <p>Change</p>
                </div>
                <span>
                Thismis all about Change
              </span>
              </div>
            </div>
            <div class="accordion__wrapper-items-block-arrow arrowBtn">
              <img src="img/experience/arrowIcon.svg" alt="">
            </div>
          </div>
          <div class="accordion__wrapper-items-panel">
            <div class="accordion__wrapper-items-panel-header">
              <img src="img/accordion/info.svg" alt="">
              <h3 class="accordion__wrapper-items-panel-header-title">Capability</h3>
            </div>
            <p class="accordion__wrapper-items-panel-desc">
              Sideminds are experienced board level marketing leaders, who are qualified in executive coaching from
              Ashridge-Hult Business School.
            </p>
            <p class="accordion__wrapper-items-panel-desc">
              We have experienced the highs and lows of the role and understand the unique requirements for the marketing
              leader to inspire both the marketing and senior leadership team.
            </p>
            <p class="accordion__wrapper-items-panel-desc">
              Exceptional marketing leaders are more than just great marketers, they are the ultimate bridge between the
              organisation and the customer, who provide ongoing counsel and guidance to others, find new growth
              opportunities whilst delivering results today, and constantly ensuring key decision makers are informed and
              aligned across all departments and channels.
            </p>
            <p class="accordion__wrapper-items-panel-desc">
              Success in role is far less about functional capability, but the ability to lead, shape opinions, get
              collective buy-in and inspire key stakeholders.
            </p>
            <p class="accordion__wrapper-items-panel-desc">
              Sideminds’ executive coaching approach helps the marketing leader find their way to be more effective, more
              quickly with key stakeholders.
            </p>
          </div>
          <!--    4   -->
          <div class="accordion__wrapper-items-block accordionBorder opacityAccordionBlock">
            <div class="accordion__wrapper-items-block-text">
              <p class="accordion__wrapper-items-block-text-title">Creative</p>
              <div class="accordion__wrapper-items-block-text-tooltip ">
                <div class="accordion__wrapper-items-block-text-tooltip-header">
                  <img src="img/accordion/info.svg" alt="">
                  <p>Change</p>
                </div>
                <span>
                Thismis all about Change
              </span>
              </div>
            </div>
            <div class="accordion__wrapper-items-block-img">
              <img src="img/accordion/7.svg" alt="">
            </div>

            <div class="accordion__item">
              <div class="accordion__slot">
                <a href="#" class="accordion__button">
                  <img src="img/accordion/arrowLeft.svg" alt="">
                  <span><b>H</b>EADSPACE</span>
                  <img src="img/accordion/arrowRight.svg" alt="">
                </a>
              </div>
            </div>

            <div class="accordion__wrapper-items-block-img">
              <img src="img/accordion/8.svg" alt="">
            </div>
            <div class="accordion__wrapper-items-block-text">
              <p class="accordion__wrapper-items-block-text-title">Conversion</p>
              <div class="accordion__wrapper-items-block-text-tooltip ">
                <div class="accordion__wrapper-items-block-text-tooltip-header">
                  <img src="img/accordion/info.svg" alt="">
                  <p>Change</p>
                </div>
                <span>
                Thismis all about Change
              </span>
              </div>
            </div>
            <div class="accordion__wrapper-items-block-arrow arrowBtn">
              <img src="img/experience/arrowIcon.svg" alt="">
            </div>
          </div>
          <div class="accordion__wrapper-items-panel">
            <div class="accordion__wrapper-items-panel-header">
              <img src="img/accordion/info.svg" alt="">
              <h3 class="accordion__wrapper-items-panel-header-title">Headspace</h3>
            </div>
            <p class="accordion__wrapper-items-panel-desc">
              Sideminds are experienced board level marketing leaders, who are qualified in executive coaching from
              Ashridge-Hult Business School.
            </p>
            <p class="accordion__wrapper-items-panel-desc">
              We have experienced the highs and lows of the role and understand the unique requirements for the marketing
              leader to inspire both the marketing and senior leadership team.
            </p>
            <p class="accordion__wrapper-items-panel-desc">
              Exceptional marketing leaders are more than just great marketers, they are the ultimate bridge between the
              organisation and the customer, who provide ongoing counsel and guidance to others, find new growth
              opportunities whilst delivering results today, and constantly ensuring key decision makers are informed and
              aligned across all departments and channels.
            </p>
            <p class="accordion__wrapper-items-panel-desc">
              Success in role is far less about functional capability, but the ability to lead, shape opinions, get
              collective buy-in and inspire key stakeholders.
            </p>
            <p class="accordion__wrapper-items-panel-desc">
              Sideminds’ executive coaching approach helps the marketing leader find their way to be more effective, more
              quickly with key stakeholders.
            </p>
          </div>
          <!--    5   -->
          <div class="accordion__wrapper-items-block accordionBorder opacityAccordionBlock">
            <div class="accordion__wrapper-items-block-text">
              <p class="accordion__wrapper-items-block-text-title">Connection</p>
              <div class="accordion__wrapper-items-block-text-tooltip ">
                <div class="accordion__wrapper-items-block-text-tooltip-header">
                  <img src="img/accordion/info.svg" alt="">
                  <p>Change</p>
                </div>
                <span>
                Thismis all about Change
              </span>
              </div>
            </div>
            <div class="accordion__wrapper-items-block-img">
              <img src="img/accordion/9.svg" alt="">
            </div>

            <div class="accordion__item">
              <div class="accordion__slot">
                <a href="#" class="accordion__button">
                  <img src="img/accordion/arrowLeft.svg" alt="">
                  <span><b>O</b>UTPUT</span>
                  <img src="img/accordion/arrowRight.svg" alt="">
                </a>
              </div>
            </div>

            <div class="accordion__wrapper-items-block-img">
              <img src="img/accordion/10.svg" alt="">
            </div>
            <div class="accordion__wrapper-items-block-text">
              <p class="accordion__wrapper-items-block-text-title">Analytical</p>
              <div class="accordion__wrapper-items-block-text-tooltip ">
                <div class="accordion__wrapper-items-block-text-tooltip-header">
                  <img src="img/accordion/info.svg" alt="">
                  <p>Change</p>
                </div>
                <span>
                Thismis all about Change
              </span>
              </div>
            </div>
            <div class="accordion__wrapper-items-block-arrow arrowBtn">
              <img src="img/experience/arrowIcon.svg" alt="">
            </div>
          </div>
          <div class="accordion__wrapper-items-panel">
            <div class="accordion__wrapper-items-panel-header">
              <img src="img/accordion/info.svg" alt="">
              <h3 class="accordion__wrapper-items-panel-header-title">Output</h3>
            </div>
            <p class="accordion__wrapper-items-panel-desc">
              Sideminds are experienced board level marketing leaders, who are qualified in executive coaching from
              Ashridge-Hult Business School.
            </p>
            <p class="accordion__wrapper-items-panel-desc">
              We have experienced the highs and lows of the role and understand the unique requirements for the marketing
              leader to inspire both the marketing and senior leadership team.
            </p>
            <p class="accordion__wrapper-items-panel-desc">
              Exceptional marketing leaders are more than just great marketers, they are the ultimate bridge between the
              organisation and the customer, who provide ongoing counsel and guidance to others, find new growth
              opportunities whilst delivering results today, and constantly ensuring key decision makers are informed and
              aligned across all departments and channels.
            </p>
            <p class="accordion__wrapper-items-panel-desc">
              Success in role is far less about functional capability, but the ability to lead, shape opinions, get
              collective buy-in and inspire key stakeholders.
            </p>
            <p class="accordion__wrapper-items-panel-desc">
              Sideminds’ executive coaching approach helps the marketing leader find their way to be more effective, more
              quickly with key stakeholders.
            </p>
          </div>
          <!--    6   -->
          <div class="accordion__wrapper-items-block accordionBorder opacityAccordionBlock">
            <div class="accordion__wrapper-items-block-text">
              <p class="accordion__wrapper-items-block-text-title">Long-Term</p>
              <div class="accordion__wrapper-items-block-text-tooltip ">
                <div class="accordion__wrapper-items-block-text-tooltip-header">
                  <img src="img/accordion/info.svg" alt="">
                  <p>Change</p>
                </div>
                <span>
                Thismis all about Change
              </span>
              </div>
            </div>
            <div class="accordion__wrapper-items-block-img">
              <img src="img/accordion/11.svg" alt="">
            </div>

            <div class="accordion__item">
              <div class="accordion__slot">
                <a href="#" class="accordion__button">
                  <img src="img/accordion/arrowLeft.svg" alt="">
                  <span><b>R</b>ESULTS</span>
                  <img src="img/accordion/arrowRight.svg" alt="">
                </a>
              </div>
            </div>

            <div class="accordion__wrapper-items-block-img">
              <img src="img/accordion/12.svg" alt="">
            </div>
            <div class="accordion__wrapper-items-block-text">
              <p class="accordion__wrapper-items-block-text-title">Short-Term</p>
              <div class="accordion__wrapper-items-block-text-tooltip ">
                <div class="accordion__wrapper-items-block-text-tooltip-header">
                  <img src="img/accordion/info.svg" alt="">
                  <p>Change</p>
                </div>
                <span>
                Thismis all about Change
              </span>
              </div>
            </div>
            <div class="accordion__wrapper-items-block-arrow arrowBtn">
              <img src="img/experience/arrowIcon.svg" alt="">
            </div>
          </div>
          <div class="accordion__wrapper-items-panel">
            <div class="accordion__wrapper-items-panel-header">
              <img src="img/accordion/info.svg" alt="">
              <h3 class="accordion__wrapper-items-panel-header-title">result</h3>
            </div>
            <p class="accordion__wrapper-items-panel-desc">
              Sideminds are experienced board level marketing leaders, who are qualified in executive coaching from
              Ashridge-Hult Business School.
            </p>
            <p class="accordion__wrapper-items-panel-desc">
              We have experienced the highs and lows of the role and understand the unique requirements for the marketing
              leader to inspire both the marketing and senior leadership team.
            </p>
            <p class="accordion__wrapper-items-panel-desc">
              Exceptional marketing leaders are more than just great marketers, they are the ultimate bridge between the
              organisation and the customer, who provide ongoing counsel and guidance to others, find new growth
              opportunities whilst delivering results today, and constantly ensuring key decision makers are informed and
              aligned across all departments and channels.
            </p>
            <p class="accordion__wrapper-items-panel-desc">
              Success in role is far less about functional capability, but the ability to lead, shape opinions, get
              collective buy-in and inspire key stakeholders.
            </p>
            <p class="accordion__wrapper-items-panel-desc">
              Sideminds’ executive coaching approach helps the marketing leader find their way to be more effective, more
              quickly with key stakeholders.
            </p>
          </div>

        </div>
      </div>
    </div>
  </div>
  <div class="accordion-experience-info">
    <div class="container-fluid">
      <h4 class="accordion-experience-info-title">Case Studies</h4>
    </div>
  </div>
  <div class="accordion-experience-content">
    <div class="container-fluid">
      <!--    1   -->
      <div class="accordion__wrapper-items-block">
        <div class="accordion__wrapper-items-block-text">
          <p class="accordion__wrapper-items-block-text-title titleTwo">Change</p>
        </div>
        <div class="accordion__wrapper-items-block-img">
          <img src="img/accordion/1.svg" alt="">
        </div>

        <div class="accordion__item ">
          <div class="accordion__slot">
            <a href="javascript:void(0)" class="accordion__button">
              <svg width="225" height="23" viewBox="0 0 225 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M19.3393 10.4393C18.7535 11.0251 18.7535 11.9749 19.3393 12.5607L28.8852 22.1066C29.471 22.6924 30.4207 22.6924 31.0065 22.1066C31.5923 21.5208 31.5923 20.5711 31.0065 19.9853L22.5213 11.5L31.0065 3.01472C31.5923 2.42893 31.5923 1.47919 31.0065 0.893398C30.4207 0.307611 29.471 0.307611 28.8852 0.893398L19.3393 10.4393ZM204.133 10L20.3999 10V13L204.133 13V10Z"
                  fill="#FA3838"/>
              </svg>
              <h1><b>A</b>MBITION</h1>
              <svg width="225" height="23" viewBox="0 0 225 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M205.661 12.5607C206.246 11.9749 206.246 11.0251 205.661 10.4393L196.115 0.893398C195.529 0.307611 194.579 0.307611 193.993 0.893398C193.408 1.47919 193.408 2.42893 193.993 3.01472L202.479 11.5L193.993 19.9853C193.408 20.5711 193.408 21.5208 193.993 22.1066C194.579 22.6924 195.529 22.6924 196.115 22.1066L205.661 12.5607ZM204.6 10L20.8666 10V13L204.6 13V10Z"
                  fill="#FA3838"/>
              </svg>
            </a>
          </div>
        </div>

        <div class="accordion__wrapper-items-block-img">
          <img src="img/accordion/2.svg" alt="">
        </div>
        <div class="accordion__wrapper-items-block-text">
          <p class="accordion__wrapper-items-block-text-title titleTwo">Consistency</p>
        </div>
      </div>
    </div>
  </div>
  <div class="accordion-experience-whiteBlock">
    <div class="container-fluid">
      <div class="accordion-experience-whiteBlock-img">
        <img src="img/experience/logo1.png" alt="">
      </div>
      <p>
        I have had the good fortune to work with many great entrepreneurial leaders. From
        Richard Reed, Adam Balon and Jon Wright at Innocent Drinks to Graham Bosher and
        James Davidson at Tails.com, or Richard Harpin at HomeServe. One of the most
        memorable on the Approach ANCHOR Factor was Alex Chesterman OBE, the founder of LoveFilm, Zoopla, Cazoo and no
        doubt more great companies in the future.
      </p>
      <p>
        He had a clear vision, operated at pace and had a strong view on the approach he wanted to be adopted. He had a
        pragmatic approach to M&A and in my tenure with him he bought 15 different companies before the entire business
        was acquired by Silver Lake in 2018. This steady stream of deals shifted the marketing emphasis from carefully
        building one brand with one audience to multiple brands, with multiple audiences and
        importantly driving synergy and productivity.
      </p>
      <p>
        As he pressed his approach on the business, the Leadership Team needed to adjust our
        strategies and activities to reflect the present state and plan for the future. Keeping
        essential everyday business activity running but being flexible and adaptable with plans
        and resources, and regularly communicating with the teams, so whilst there was
        turbulence we unde rstood the bigger plan. We all needed to align with the CEO and be
        able to live comfortably with managing change and consistency.
      </p>
    </div>
  </div>
  <div class="accordion-experience-whiteBlock bgGray">
    <div class="container-fluid">
      <div class="accordion-experience-whiteBlock-img">
        <img src="img/experience/logo2.png" alt="">
      </div>
      <p>
        ANCHOR Factors are consistent across companies but the emphasis on each ANCHOR Factor can differ from company to
        company. I found this when I moved from the entrepreneurial business of Innocent Drinks into the
        well-established Mars food business. I was brought in by the CEO as a change agent and I could well have landed
        on Mars.
      </p>
      <p>
        I was given a challenging brief to make ‘Mars more Innocent’, challenging because Innocent based heavily towards
        the Change ANCHOR Factor and there were over 40,000 colleagues in Mars following a tight system based upon the
        Consistency ANCHOR Factor. The CEO wanted to retain the consistency that had made Mars so successful, but needed
        to also bring in a new, faster and more nimble approach that challenged these systems.
      </p>
      <p>
        With the support of the CEO and wider Leadership Team I started to understand the current approaches that made
        the organisation successful and looked for opportunities to deliver change. The opportunity came when we looked
        at price tiering in the dog food category and proposed the introduction of a price fighter brand.
      </p>
      <p>
        The marketing team launched the challenger brand in an agile way. The normal ‘lock and load’ European innovation
        cycle usually required careful alignment and buy-in from multiple countries and would have taken over 2 years
        from concept to launch. Misfits was launched within 6 months and over a dozen years on the brand still exists
        and is doing well. The historic procedures and process were respected and the CEO was able to start to impact
        his change agenda. It was a small project that built trust and alignment with the CEO and Leadership Team and
        enabled a wide shift in project development in the future.
      </p>
    </div>
  </div>
  <div class="accordion-experience-info">
    <div class="container-fluid">
      <h4 class="accordion-experience-info-title text-center">Take the Assessment yourself</h4>
      <div class="accordion-experience-info-btn">
        <a class="accordion-experience-info-btn-link" href="#">Take the free Mini Assessment</a>
        <a class="accordion-experience-info-btn-link" href="#">Take the full Assessment</a>
      </div>
    </div>
  </div>
</div>
