<div class="approach">
  <div class="container-fluid">
    <h3 class="approach__title">Our Approach</h3>
    <div class="approach__info">
      <div class="approach__info-left">
        <img src="img/approach-img.png" alt="">
        <h3 class="approach__info-left-title">Our Approach</h3>
      </div>
      <div class="approach__info-right">
        <p>
          Sideminds helps marketing leaders excel through coaching, advising, mentoring and in some instances, delivery
          of key marketing projects.
        </p>
        <p>
          The Sideminds’ approach unlocks the marketer’s potential by helping them improve their ability in six key
          success areas called ANCHOR Factors, where ANCHOR is an acronym for 6 pairs of essential marketing leadership
          capabilities and behaviours. The 6 areas were defined after studying the behaviours of senior marketers and
          understanding what made some successful and others not.
        </p>
        <p>
          ANCHOR Factors underpin how the marketer performs and their sequence and overall strength gives each marketers
          their unique genre – connector, operator, disruptor and explorer or CODE for Short. This is a little like
          Myers-Briggs and explained in the book The Marketing Leader’s Code.
        </p>
        <p>Click on the ANCHOR Factor interactive table below to discovery more about each ANCHOR Factor and read case
          studies
        </p>
      </div>
    </div>
    <a href="#" class="approach__btn">Buy the book</a>
  </div>
</div>
