<div class="article">
  <div class="container-lg">
   <div class="article__row">
     <div class="article__row-box">
       <div class="article__row-box-left">
         <img src="img/сar.svg" alt="car">
       </div>
       <div class="article__row-box-right">
         <h4 class="article__row-box-right-title">Flexible Rentals</h4>
         <p class="article__row-box-right-desc">
           Cancel or change your booking for free up to 48 hours before pick-up
         </p>
       </div>
     </div>
     <div class="article__row-box">
       <div class="article__row-box-left">
         <img src="img/takeOff.svg" alt="car">
       </div>
       <div class="article__row-box-right">
         <h4 class="article__row-box-right-title">Airport Transfers</h4>
         <p class="article__row-box-right-desc">
           Free pickup or drop off at your arrival or departure airport
         </p>
       </div>
     </div>
     <div class="article__row-box">
       <div class="article__row-box-left">
         <img src="img/carWash.svg" alt="car">
       </div>
       <div class="article__row-box-right">
         <h4 class="article__row-box-right-title">Spotless cars</h4>
         <p class="article__row-box-right-desc">
           Every vehicle is cleaned with a valet service before each rental
         </p>
       </div>
     </div>
     <div class="article__row-box">
       <div class="article__row-box-left">
         <img src="img/carWash.svg" alt="car">
       </div>
       <div class="article__row-box-right">
         <h4 class="article__row-box-right-title">Fully service record</h4>
         <p class="article__row-box-right-desc">
           Every vehicle undergoes regular ser ices to ensure that safety
         </p>
       </div>
     </div>
   </div>
  </div>
</div>
