<div class="contact">
  <div class="container-lg">
    <h3 class="contact__title">To get support from Sideminds, take The Marketing Leader’s Code Assessment, or join our
      growing team, fill in the form below to get in touch.</h3>
    <div class="contact__content">
      <div class="contact__content-left">
        <h4 class="contact__content-left-title">Send us a message</h4>
        <form action="">
          <div class="contact__content-left-form">
            <div class="contact__content-left-input">
              <label>
                <span>Name <span style="color: #ff0000ff">*</span></span>
                <input type="text" required>
              </label>
              <label>
                Job Title
                <input type="text" >
              </label>
              <label>
                Company
                <input type="text" >
              </label>
              <label>
                <span>Email <span style="color: #ff0000ff">*</span></span>
                <input type="email" required>
              </label>
            </div>
            <div class="contact__content-left-checkbox">
              <label for="one">
                <input type="checkbox"  id="one">
                I’d like to learn about sideminds®
              </label>
              <label for="two">
                <input type="checkbox"  id="two">
                I’d like to discuss The Marketing Leader’s CODE assessments, case studies and toolkit of tactics
              </label>
              <label for="three">
                <input type="checkbox"  id="three">
                I’d like to sign up to sideminds® on the side lines
              </label>
              <label for="four">
                <input type="checkbox"  id="four">
                I’m interested in joining sideminds®
              </label>
            </div>
            <div class="contact__content-left-textarea">
              <label>
                Other (please summarise)
                <textarea class="form-control" rows="5" placeholder="Text Area"></textarea>
              </label>
            </div>
          </div>
          <div class="contact__content-left-footer">
            <button type="submit">Submit</button>
          </div>
        </form>
      </div>
      <div class="contact__content-right">
        <div class="contact__content-right-phone">
          <p>Call us</p>
          <a href="tel:447730697434"><img src="img/telephone.svg" alt=""> <span>(44) 773 0697434</span> </a>
        </div>
        <div class="contact__content-right-phone">
          <p>Book a meeting</p>
          <a href="tel:447730697434"><img src="img/telephone.svg" alt=""> <span>https://link....</span> </a>
        </div>
      </div>
    </div>
  </div>
</div>
