<footer class="footer">
  <div class="container-fluid">
    <div class="footer__row">
      <div class="footer__row-item">
        <h3 class="footer__title">Sign up to our Blog</h3>
        <form action="">
          <input type="email" placeholder="Email Address" required>
          <input type="text" placeholder="Surname" required>
          <input type="text" placeholder="First Name" required>
          <button class="btn-reset btn-blue">Sign up</button>
        </form>
      </div>
      <div class="footer__row-item d-flex justify-content-between flex-column align-items-center">
        <div class="footer__row-item-mobile">
          <h3 class="footer__title">The Legal Stuff</h3>
          <a href="privacy.html">Privacy Policy</a>
          <a href="privacy.html">Terms and Conditions</a>
          <a href="privacy.html">Website Conditions</a>
        </div>
        <img src="img/logo-footer.png" alt="logo" class="footer__row-item-img">
        <ul class="list-reset footer__row-item-social">
          <li>
            <a href=""><img src="img/facebook.png" alt="facebook" width="17px"></a>
          </li>
          <li>
            <a href=""><img src="img/twitter.png" alt="twitter" width="17px"></a>
          </li>
          <li>
            <a href=""><img src="img/instagram.png" alt="facebook" width="17px"></a>
          </li>
          <li>
            <a href=""><img src="img/linkedin.png" alt="linkedin" width="17px"></a>
          </li>
        </ul>
      </div>
      <div class="footer__row-item d-flex flex-column align-items-end">
        <h3 class="footer__title-left">The Legal Stuff</h3>
        <a href="">Privacy Policy</a>
        <a href="">Terms and Conditions</a>
        <a href="">Website Conditions</a>
      </div>
    </div>
  </div>
  <div class="footer__bottom">
    <div class="container-lg">
      <div class="footer__bottom-text">
        <p>Business in a Box® By Appzoola</p>
        <span>Copyright © 2022 Appzoola LLC. All rights reserved</span>
      </div>
    </div>
  </div>
</footer>
