<div class="forgot">
  <div class="container-lg">
    <div class="forgot__wrapper">
      <form action="">
        <img src="img/logo.png" alt="">
        <p>
          You forgot your password? Here you can easily retrieve a new password.
        </p>
        <label for="">
          <input type="email" placeholder="Email">
          <div>
            <img src="img/email.png" alt="">
          </div>
        </label>
        <button type="submit" class=" btn-reset forgot__wrapper-btn">Send Password Reset Link</button>
        <a class="forgot__wrapper-link" href="sing.html">Login</a>
      </form>
    </div>
  </div>
</div>
