<div class="hero">
  <div class="hero__left">
    <img src="img/hero-img.png" alt="">
    <h1 class="hero__left-title">Sideminds helps
      marketing leaders excel</h1>
  </div>
  <div class="hero__right">
    <h1 class="hero__right-title">Sideminds helps
      marketing leaders excel</h1>
    <p class="hero__right-desc">
      The marketing leadership role has become more complex and more challenging than ever.
    </p>
    <p class="hero__right-desc">
      It is a tough role, which is getting tougher and Sideminds helps marketers excel through coaching, in the moment
      advice, expert mentoring and key project delivery.
    </p>
  </div>
</div>
