<div class="info">
  <div class="container-fluid">
    <h3 class="info__title">Discover your ANCHOR Factors and Marketing Leader’s CODE</h3>
    <p class="info__subtitle">
      What type of marketing leader are you and what does the business need?
    </p>
    <p class="info__subtitle">
      Are you a Connector, who prioritises close relationships with the CEO, Leadership Team and wider business? <br>
      An Operator, who is into the detail, analysing data and maximising sales? <br>
      A Disruptor, who are opportunistic and thrive on change or an Explorer, who is strategic, insightful and
      brand-centric.
    </p>
    <div class="info__card">
      <div class="info__card-item">
        <div class="info__card-item-img">
          <img src="img/info2.png" alt="">
        </div>
        <div class="info__card-item-desc">
          <h3>Connector</h3>
          <p>High relationship orientation with the CEO, Leadership Team and marketing</p>
        </div>
      </div>
      <div class="info__card-item">
        <div class="info__card-item-img">
          <img src="img/info1.png" alt="">
        </div>
        <div class="info__card-item-desc">
          <h3>Operator</h3>
          <p>Analytical and data led, with a strong skill set in driving conversion and short term sales</p>
        </div>
      </div>
      <div class="info__card-item">
        <div class="info__card-item-img">
          <img src="img/info3.png" alt="">
        </div>
        <div class="info__card-item-desc">
          <h3>Disruptor</h3>
          <p>Entrepreneurial and opportunistic,  externally focused and assertively drive change</p>
        </div>
      </div>
      <div class="info__card-item">
        <div class="info__card-item-img">
          <img src="img/info4.png" alt="">
        </div>
        <div class="info__card-item-desc">
          <h3>Explorer</h3>
          <p>Strategic, insightful and looking at building the longer term business growth</p>
        </div>
      </div>
    </div>
    <div class="info__btn">
      <a class="info__btn-link" href="#">Take the free Mini Assessment</a>
      <a class="info__btn-link" href="#">Take the full Assessment</a>
    </div>
  </div>
</div>
