<div class="marketing-reviews">
  <div class="marketing-reviews__slider">
    <!-- Slider main container -->
    <div class="swiper reviews__swiper">
      <!-- Additional required wrapper -->
      <div class="swiper-wrapper">
        <!-- Slides -->
        <div class="swiper-slide">
          <div class="marketing-reviews__slider-item">
            <p>“"Something is going very wrong in the relationship between CEOs and CMOs... <br>
              ...80% of CEOs don't trust or are unimpressed by their CMO.  <br>
              In comparison, just 10% of the same CEOs feel the same way about their CFOs and CIOs.” </p>
            <h3>Kimberley Whitler</h3>
          </div>
        </div>
        <!-- Slides -->
        <div class="swiper-slide">
          <div class="marketing-reviews__slider-item">
            <p>“"Something is going very wrong in the relationship between CEOs and CMOs... <br>
              ...80% of CEOs don't trust or are unimpressed by their CMO.  <br>
              In comparison, just 10% of the same CEOs feel the same way about their CFOs and CIOs.” </p>
            <h3>Kimberley Whitler</h3>
          </div>
        </div>
        <!-- Slides -->
        <div class="swiper-slide">
          <div class="marketing-reviews__slider-item">
            <p>“"Something is going very wrong in the relationship between CEOs and CMOs... <br>
              ...80% of CEOs don't trust or are unimpressed by their CMO.  <br>
              In comparison, just 10% of the same CEOs feel the same way about their CFOs and CIOs.” </p>
            <h3>Kimberley Whitler</h3>
          </div>
        </div>
      </div>
    </div>
    <!-- If we need pagination -->
    <div class="swiper-pagination"></div>
    <!-- If we need navigation buttons -->
    <div class="swiper-prev-about reviews__slider-btn">
      <svg width="40" height="41" viewBox="0 0 40 41" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path
          d="M20.8789 35.4961L8.37891 23.0938C7.79297 22.4102 7.5 21.6289 7.5 20.75C7.5 19.7734 7.79297 19.0898 8.37891 18.5039L20.8789 6.10156C21.7578 5.22266 23.125 4.92969 24.2969 5.41797C25.4688 5.90625 26.25 7.07812 26.25 8.25V33.25C26.25 34.5195 25.4688 35.5938 24.2969 36.082C23.125 36.5703 21.7578 36.375 20.8789 35.4961Z"
          fill="#A3A5A9"/>
      </svg>
    </div>
    <div class="swiper-next-about reviews__slider-btn">
      <svg width="40" height="41" viewBox="0 0 40 41" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path
          d="M20.8789 35.4961L8.37891 23.0938C7.79297 22.4102 7.5 21.6289 7.5 20.75C7.5 19.7734 7.79297 19.0898 8.37891 18.5039L20.8789 6.10156C21.7578 5.22266 23.125 4.92969 24.2969 5.41797C25.4688 5.90625 26.25 7.07812 26.25 8.25V33.25C26.25 34.5195 25.4688 35.5938 24.2969 36.082C23.125 36.5703 21.7578 36.375 20.8789 35.4961Z"
          fill="#A3A5A9"/>
      </svg>
    </div>
  </div>
</div>
