<div class="marketing__circle">
  <div class="container-fluid">
    <div class="marketing__circle-bottom top">
      <div id="explorer"  class="marketing__circle-bottom-card cardBox">
        <img class="marketing__circle-bottom-card-img" src="img/circle1.png" alt="">
        <h3><span>E</span>xplorer</h3>
        <p>
          Marketing leaders who have Explorer as their lead genre are strategic, insightful and brand-led and look at
          longer term growth. These people could have been management consultants, planners in an advertising agency or
          have a more traditional mass market background. They thrive in developing business vision, M&A plan, brand
          strategy and customer value propositions.
        </p>
      </div>
      <div id="connector"  class="marketing__circle-bottom-card cardBox">
        <img class="marketing__circle-bottom-card-img" src="img/circle2.png" alt="">
        <h3><span>C</span>onnector</h3>
        <p>
          Marketing leaders with Connector as their lead genre form very close relationships with the CEO, Leadership
          Team and wider business. They are skilful managers of the marketing team and are great at developing talent
          and building a strong marketing culture. They are good at adopting and following business processes and use
          internal expertise effectively.
        </p>
      </div>
    </div>
    <div class="marketing__circle-box">
      <div class="marketing__circle-box-wrapper">
        <img src="img/circle-back.png" alt="">
        <svg width="929" height="929" viewBox="0 0 929 929" fill="none" xmlns="http://www.w3.org/2000/svg">
          <g class="svgIcon ConsistencyChange" opacity="0.0">
            <path d="M660.25 125.451C600.734 91.0897 533.223 73 464.5 73L464.5 464.5L660.25 125.451Z" fill="#FF0000"/>
            <path d="M268.75 803.549C328.266 837.91 395.777 856 464.5 856L464.5 464.5L268.75 803.549Z" fill="#FF0000"/>
          </g>
          <g class="svgIcon UnityChallenge" opacity="0.0">
            <path d="M803.549 268.75C769.188 209.235 719.766 159.812 660.25 125.451L464.5 464.5L803.549 268.75Z"
                  fill="#FF0000"/>
            <path d="M125.451 660.25C159.812 719.766 209.235 769.188 268.75 803.549L464.5 464.5L125.451 660.25Z"
                  fill="#FF0000"/>
          </g>
          <g class="svgIcon SupportiveAssertive" opacity="0.0">
            <path d="M856 464.5C856 395.777 837.91 328.266 803.549 268.75L464.5 464.5L856 464.5Z" fill="#FF0000"/>
            <path d="M73.0001 464.5C73.0001 533.223 91.0899 600.734 125.451 660.25L464.5 464.5L73.0001 464.5Z"
                  fill="#FF0000"/>
          </g>
          <g class="svgIcon AnalyticalCreative" opacity="0.0">
            <path d="M803.549 660.25C837.91 600.734 856 533.223 856 464.5L464.5 464.5L803.549 660.25Z" fill="#FF0000"/>
            <path d="M125.451 268.75C91.09 328.265 73.0002 395.777 73.0002 464.5L464.5 464.5L125.451 268.75Z"
                  fill="#FF0000"/>
          </g>
          <g class="svgIcon ConversionConnection" opacity="0.0">
            <path d="M660.25 803.549C719.766 769.188 769.188 719.766 803.549 660.25L464.5 464.5L660.25 803.549Z"
                  fill="#FF0000"/>
            <path d="M268.75 125.451C209.235 159.812 159.813 209.234 125.451 268.75L464.5 464.5L268.75 125.451Z"
                  fill="#FF0000"/>
          </g>
          <g class="svgIcon ShorttermLongterm" opacity="0.0">
            <path d="M464.5 856C533.223 856 600.735 837.91 660.25 803.549L464.5 464.5L464.5 856Z" fill="#FF0000"/>
            <path d="M464.5 72.9999C395.778 72.9999 328.266 91.0896 268.75 125.451L464.5 464.5L464.5 72.9999Z"
                  fill="#FF0000"/>
          </g>
        </svg>
        <div class="one tooltip-info arrow_box">
          <h4>Ambition ANCHOR Factor</h4>
          <p>
            Understands the companies natural homeostasis and works with the CEO to bring their business ambition to
            life
            and push the business forward. Tests new ideas and helps change areas which are sub-optimal and reinforce
            areas which need consistency.
          </p>
        </div>
        <div class="two tooltip-info arrow_box">
          <h4>Network ANCHOR Factor</h4>
          <p>
            Navigates the Leadership Team effectively and ensures the right discussions are held and the right activity
            gets done.  Skilful at knowing when to challenge and when to create unity for the wider business benefit.
          </p>
        </div>
        <div class="three tooltip-info arrow_box">
          <h4>Capability ANCHOR Factor</h4>
          <p>
            Creates and maintains a high performing marketing team. Makes assertive decisions about the team and
            agencies and is a skilful situational leader, who is supportive and helps talent feel valued and grow.
          </p>
        </div>
        <div class="four tool  tooltip-info arrow_box">
          <h4>Headspace ANCHOR Factor</h4>
          <p>
            Moves comfortably from using their left brain, full of data and detail, to their right, full of images,
            concepts and connections. Combines analytical skills with  creative aptitude and flair.
          </p>
        </div>
        <div class="five tooltip-info arrow_box">
          <h4>Output ANCHOR Factor</h4>
          <p>
            Focuses on priority audiences and effectively manages the marketing activity throughout the marketing
            funnel. From building a connection higher up the funnel, through to the conversion  and retention lower down
            the funnel.
          </p>
        </div>
        <div class="six tooltip-info arrow_box">
          <h4>Results ANCHOR Factor</h4>
          <p>
            Vigilantly monitors performance in year and responds with short-term initiatives to boost performance. Looks
            for future revenue opportunities and develops the long-term plan with key stakeholders.
          </p>
        </div>
      </div>
    </div>
    <div class="marketing__circle-adaptive">
      <div class="marketing__circle-adaptive-wrapper">
        <div class="marketing__circle-adaptive-wrapper-parts clickPart" data-angle="Connector">Connector</div>
        <div class="marketing__circle-adaptive-wrapper-parts clickPart" data-angle="Disruptor">Disruptor</div>
        <div class="marketing__circle-adaptive-wrapper-parts clickPart" data-angle="Explorer">Explorer</div>
        <div class="marketing__circle-adaptive-wrapper-parts clickPart" data-angle="Operator">Operator</div>
      </div>
    </div>
    <div class="marketing__circle-bottom bottom">
      <div  data-card="Explorer" class="marketing__circle-bottom-card cardBox newBox">
        <img class="marketing__circle-bottom-card-img" src="img/circle1.png" alt="">
        <h3><span>E</span>xplorer</h3>
        <p>
          Marketing leaders who have Explorer as their lead genre are strategic, insightful and brand-led and look at
          longer term growth. These people could have been management consultants, planners in an advertising agency or
          have a more traditional mass market background. They thrive in developing business vision, M&A plan, brand
          strategy and customer value propositions.
        </p>
      </div>
      <div  data-card="Connector" class="marketing__circle-bottom-card cardBox newBox">
        <img class="marketing__circle-bottom-card-img" src="img/circle2.png" alt="">
        <h3><span>C</span>onnector</h3>
        <p>
          Marketing leaders with Connector as their lead genre form very close relationships with the CEO, Leadership
          Team and wider business. They are skilful managers of the marketing team and are great at developing talent
          and building a strong marketing culture. They are good at adopting and following business processes and use
          internal expertise effectively.
        </p>
      </div>
      <div id="disruptor" data-card="Disruptor" class="marketing__circle-bottom-card cardBox">
        <img class="marketing__circle-bottom-card-img" src="img/circle3.png" alt="">
        <h3><span>D</span>isruptor</h3>
        <p>
          Marketing leader who have Disruptor as their lead genre are entrepreneurial leaders who are opportunistic and
          thrive on change. They are externally focused and bring in fresh ideas. They tend to be very assertive with
          the team, rapidly changing the team shape to the situation at hand. They may have come from a strong start-up
          background and follow agile procedures.
        </p>
      </div>
      <div id="operator" data-card="Operator" class="marketing__circle-bottom-card cardBox">
        <img class="marketing__circle-bottom-card-img" src="img/circle4.png" alt="">
        <h3><span>O</span>perator</h3>
        <p>
          Marketing leaders who have Operator as their lead genre tend to be more analytical and data led, with a strong
          skill set in performance media, sales conversion and short term action. They are focused on campaign
          optimisation lower down the marketing funnel, where there is strong existing intent with customers, and create
          strong partnerships with the sales team.
        </p>
      </div>
    </div>

  </div>
</div>
</div>
