<div class="marketing__info">
  <div class="container-lg">
    <div class="marketing__info-img">
      <h3 class="marketing__info-img-title">Unlocking the marketing leader’s potential</h3>
      <div class="marketing__info-img-content">
        <div class="marketing__info-img-content-left">
          <img src="img/approach-img.png" alt="">
        </div>
        <div class="marketing__info-img-content-right">
          <p class="marketing__info-img-content-right-desc">
            The Marketing Leader’s Code  helps shortcuts the process for marketing leaders to be successful. It is the
            culmination of over two years of work reviewing published material, collecting feedback from marketing
            leaders and testing and validate a working model. It is a marketing leadership book by marketing leaders for
            marketing leaders.
          </p>
          <p class="marketing__info-img-content-right-desc">
            The Marketing Leader’s Code explains the challenges the marketing leader faces and organises critical
            success areas into a model made up of 4 genres: Connector, Operator, Disruptor and Explorer or CODE for
            short.
          </p>
          <p class="marketing__info-img-content-right-desc">
            Each genre is further divided into 3 ANCHOR Factors, where ANCHOR is an acronym for pairs of essential
            marketing leadership capabilities and behaviours the marketer needs to deliver.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="marketing__info-img bgGray">
    <div class="container-lg">
      <h3 class="marketing__info-img-title">Interactive Marketing Leaders Code Map</h3>
      <div class="marketing__info-img-content">
        <div class="marketing__info-img-content-right fullWidth">
          <p class="marketing__info-img-content-right-desc">
            Every marketing role and every Leadership Team is different, so the blend of ANCHOR Factors needed is
            different, which changes the CODE and ultimately success in the role. This individual blend can be
            determined through the assessments in the book or online.
          </p>
          <p class="marketing__info-img-content-right-desc">

            The CODE also starts to demystify the differences between the Chief Marketing Officer, Chief Digital
            Officer, Chief Growth Officer, Chief Customer Officer, Chief Brand Officer and Chief Strategy Officer. Each
            of these roles have different weights of ANCHOR Factors and knowing this can help the CEO or Leadership Team
            decide what type of marketer they really need.
          </p>
          <p class="marketing__info-img-content-right-desc">
            Click on the interactive Marketing Leaders Code map to find out more.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
