<div class="marketing__hero">
  <div class="container-fluid">
    <div class="marketing__hero-content">
      <div class="marketing__hero-content-img">
        <img src="img/marketing/book.png" alt="">
      </div>
      <div class="marketing__hero-content-info">
        <h2 class="marketing__hero-content-info-title">The Marketing <br>
          Leader’s Code</h2>
        <p class="marketing__hero-content-info-bold">
          Unlock your potential. Learn the secrets of successful marketing leadership.
        </p>
        <p class="marketing__hero-content-info-desc">
          What makes some marketing leader's successful and others not?'
        </p>
        <p class="marketing__hero-content-info-desc">
          This led to the creation of the book The Marketing Leader’s Code: what makes some marketing leader’s successful,
          and others get fired?
        </p>
        <p class="marketing__hero-content-info-desc">
          Much has been published about the challenges marketing leader's face, but very little has been done to prepare
          marketers for the leadership role and be successful. This book fills this gap by distilling the activities of
          successful marketing leaders into a simple framework with diagnostic assessments, real-life case studies and a
          toolkit of tactics to build capability.
        </p>
        <a class="marketing__hero-content-info-btn" href="#">Buy the Book</a>
      </div>
    </div>
  </div>
</div>
