<div class="news">
  <div class="news__hero" style="background-image: none">
    <div class="container-fluid">
      <div class="news__hero-img">
        <div class="news__hero-img-left">
          <img src="img/approach-img2.png" alt="">
        </div>
        <div class="news__hero-img-right">
          <h4 class="news__hero-img-right-title">Our Blog and Newsletter</h4>
        </div>
      </div>
    </div>
  </div>
  <div class="container-lg">
    <div class="news__wrapper">
      <div class="news__wrapper-left">
        <h5 class="news__wrapper-left-title">Welcome to our blog</h5>
        <div class="news__wrapper-left-top mobile__top">
          <div class="news__wrapper-left-top-img">
            <img src="img/aboutItem1.png" alt="">
          </div>
          <div class="news__wrapper-left-top-body">
            <span class="news__wrapper-left-top-body-time">12 Sept 2022</span>
            <h3 class="news__wrapper-left-top-body-title">Blog</h3>
            <p class="news__wrapper-left-top-body-desc">
              Free pickup and drop off from your airport. SImply enter your flight details when you book, and we will do
              the rest
            </p>
          </div>
        </div>
        <!--   mobile__category     -->
        <div class="news__wrapper-right mobile__category">
          <div class="news__wrapper-right-category">
            <h3 class="news__wrapper-right-title">Filter by</h3>
            <ul class="list-reset news__wrapper-right-category-list">
              <li class="news__wrapper-right-category-list-item">
                <span>Date</span>
                <span><input type="checkbox" required></span>
              </li>
              <li class="news__wrapper-right-category-list-item">
                <span>Category</span>
                <span><input type="checkbox"></span>
              </li>
              <li class="news__wrapper-right-category-list-item">
                <span>Author</span>
                <span><input type="checkbox"></span>
              </li>
            </ul>
          </div>
        </div>
        <!--   mobile__category     -->
        <div class="news__wrapper-left-boxes">
          <div class="news__wrapper-left-top">
            <div class="news__wrapper-left-top-img">
              <img src="img/aboutItem1.png" alt="">
            </div>
            <div class="news__wrapper-left-top-body">
              <div class="news__wrapper-left-top-body-header">
                <span class="news__wrapper-left-top-body-header-time">12 Sept 2022</span>
              </div>
              <h3 class="news__wrapper-left-top-body-title">Blog</h3>
              <p class="news__wrapper-left-top-body-desc">
                Free pickup and drop off from your airport. SImply enter your flight details when you book, and we will
                do
                the rest
              </p>
              <div class="news__wrapper-left-top-body-footer">
                <div class="news__wrapper-left-top-body-footer-right">
                  <a class="news__wrapper-left-top-body-footer-right-link" href="article.html">Read more</a>
                </div>
              </div>
            </div>
          </div>
          <div class="news__wrapper-left-top">
            <div class="news__wrapper-left-top-img">
              <img src="img/aboutItem1.png" alt="">
            </div>
            <div class="news__wrapper-left-top-body">
              <div class="news__wrapper-left-top-body-header">
                <span class="news__wrapper-left-top-body-header-time">12 Sept 2022</span>

              </div>
              <h3 class="news__wrapper-left-top-body-title">Blog</h3>
              <p class="news__wrapper-left-top-body-desc">
                Free pickup and drop off from your airport. SImply enter your flight details when you book, and we will
                do
                the rest
              </p>
              <div class="news__wrapper-left-top-body-footer">
                <div class="news__wrapper-left-top-body-footer-right">
                  <a class="news__wrapper-left-top-body-footer-right-link" href="article.html">Read more</a>
                </div>
              </div>
            </div>
          </div>
          <div class="news__wrapper-left-top">
            <div class="news__wrapper-left-top-img">
              <img src="img/aboutItem1.png" alt="">
            </div>
            <div class="news__wrapper-left-top-body">
              <div class="news__wrapper-left-top-body-header">
                <span class="news__wrapper-left-top-body-header-time">12 Sept 2022</span>

              </div>
              <h3 class="news__wrapper-left-top-body-title">Blog</h3>
              <p class="news__wrapper-left-top-body-desc">
                Free pickup and drop off from your airport. SImply enter your flight details when you book, and we will
                do
                the rest
              </p>
              <div class="news__wrapper-left-top-body-footer">
                <div class="news__wrapper-left-top-body-footer-right">
                  <a class="news__wrapper-left-top-body-footer-right-link" href="article.html">Read more</a>
                </div>
              </div>
            </div>
          </div>
          <div class="news__wrapper-left-top">
            <div class="news__wrapper-left-top-img">
              <img src="img/aboutItem1.png" alt="">
            </div>
            <div class="news__wrapper-left-top-body">
              <div class="news__wrapper-left-top-body-header">
                <span class="news__wrapper-left-top-body-header-time">12 Sept 2022</span>

              </div>
              <h3 class="news__wrapper-left-top-body-title">Blog</h3>
              <p class="news__wrapper-left-top-body-desc">
                Free pickup and drop off from your airport. SImply enter your flight details when you book, and we will
                do
                the rest
              </p>
              <div class="news__wrapper-left-top-body-footer">
                <div class="news__wrapper-left-top-body-footer-right">
                  <a class="news__wrapper-left-top-body-footer-right-link" href="article.html">Read more</a>
                </div>
              </div>
            </div>
          </div>
          <div class="news__wrapper-left-top">
            <div class="news__wrapper-left-top-img">
              <img src="img/aboutItem1.png" alt="">
            </div>
            <div class="news__wrapper-left-top-body">
              <div class="news__wrapper-left-top-body-header">
                <span class="news__wrapper-left-top-body-header-time">12 Sept 2022</span>

              </div>
              <h3 class="news__wrapper-left-top-body-title">Blog</h3>
              <p class="news__wrapper-left-top-body-desc">
                Free pickup and drop off from your airport. SImply enter your flight details when you book, and we will
                do
                the rest
              </p>
              <div class="news__wrapper-left-top-body-footer">
                <div class="news__wrapper-left-top-body-footer-right">
                  <a class="news__wrapper-left-top-body-footer-right-link" href="article.html">Read more</a>
                </div>
              </div>
            </div>
          </div>
          <div class="news__wrapper-left-top">
            <div class="news__wrapper-left-top-img">
              <img src="img/aboutItem1.png" alt="">
            </div>
            <div class="news__wrapper-left-top-body">
              <div class="news__wrapper-left-top-body-header">
                <span class="news__wrapper-left-top-body-header-time">12 Sept 2022</span>

              </div>
              <h3 class="news__wrapper-left-top-body-title">Blog</h3>
              <p class="news__wrapper-left-top-body-desc">
                Free pickup and drop off from your airport. SImply enter your flight details when you book, and we will
                do
                the rest
              </p>
              <div class="news__wrapper-left-top-body-footer">
                <div class="news__wrapper-left-top-body-footer-right">
                  <a class="news__wrapper-left-top-body-footer-right-link" href="article.html">Read more</a>
                </div>
              </div>
            </div>
          </div>
          <div class="news__wrapper-left-top">
            <div class="news__wrapper-left-top-img">
              <img src="img/aboutItem1.png" alt="">
            </div>
            <div class="news__wrapper-left-top-body">
              <div class="news__wrapper-left-top-body-header">
                <span class="news__wrapper-left-top-body-header-time">12 Sept 2022</span>

              </div>
              <h3 class="news__wrapper-left-top-body-title">Blog</h3>
              <p class="news__wrapper-left-top-body-desc">
                Free pickup and drop off from your airport. SImply enter your flight details when you book, and we will
                do
                the rest
              </p>
              <div class="news__wrapper-left-top-body-footer">
                <div class="news__wrapper-left-top-body-footer-right">
                  <a class="news__wrapper-left-top-body-footer-right-link" href="article.html">Read more</a>
                </div>
              </div>
            </div>
          </div>
          <div class="news__wrapper-left-top">
            <div class="news__wrapper-left-top-img">
              <img src="img/aboutItem1.png" alt="">
            </div>
            <div class="news__wrapper-left-top-body">
              <div class="news__wrapper-left-top-body-header">
                <span class="news__wrapper-left-top-body-header-time">12 Sept 2022</span>

              </div>
              <h3 class="news__wrapper-left-top-body-title">Blog</h3>
              <p class="news__wrapper-left-top-body-desc">
                Free pickup and drop off from your airport. SImply enter your flight details when you book, and we will
                do
                the rest
              </p>
              <div class="news__wrapper-left-top-body-footer">
                <div class="news__wrapper-left-top-body-footer-right">
                  <a class="news__wrapper-left-top-body-footer-right-link" href="article.html">Read more</a>
                </div>
              </div>
            </div>
          </div>
          <div class="news__wrapper-left-top">
            <div class="news__wrapper-left-top-img">
              <img src="img/aboutItem1.png" alt="">
            </div>
            <div class="news__wrapper-left-top-body">
              <div class="news__wrapper-left-top-body-header">
                <span class="news__wrapper-left-top-body-header-time">12 Sept 2022</span>

              </div>
              <h3 class="news__wrapper-left-top-body-title">Blog</h3>
              <p class="news__wrapper-left-top-body-desc">
                Free pickup and drop off from your airport. SImply enter your flight details when you book, and we will
                do
                the rest
              </p>
              <div class="news__wrapper-left-top-body-footer">
                <div class="news__wrapper-left-top-body-footer-right">
                  <a class="news__wrapper-left-top-body-footer-right-link" href="article.html">Read more</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="news__wrapper-right mobile__right">
        <div class="news__wrapper-right-category">
          <h3 class="news__wrapper-right-title">Filter by</h3>
          <ul class="list-reset news__wrapper-right-category-list">
            <li class="news__wrapper-right-category-list-item">
              <span>Date</span>
              <span><input type="checkbox"></span>
            </li>
            <li class="news__wrapper-right-category-list-item">
              <span>Category</span>
              <span><input type="checkbox"></span>
            </li>
            <li class="news__wrapper-right-category-list-item">
              <span>Author</span>
              <span><input type="checkbox"></span>
            </li>
          </ul>
        </div>
        <div class="news__wrapper-right-calendar">
          <h3 class="news__wrapper-right-title">Find by date</h3>
          <!--    calendar      -->
          <div class="calendar" id="table">
            <div class="calendar-header">
              <div class="month" id="month-header"></div>
              <div class="buttons__calendar">
                <button class="btn-reset btn-prev" title="Mês anterior"><</button>
                <button class="btn-reset btn-next" title="Próximo mês">></button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
