<div class="reviews-experience">
  <div class="container-lg">
    <div class="reviews-experience-wrapper">
      <div class="reviews-experience-wrapper-left">
        <h4 class="reviews-experience-wrapper-left-title">Gareth Helm</h4>
        <div class="reviews-experience-wrapper-left-img">
          <img src="img/experience/man.png" alt="">
        </div>
      </div>
      <div class="reviews-experience-wrapper-right">
        <p class="reviews-experience-wrapper-right-desc">
          Sideminds growing network of marketing leadership advisors was set up by Gareth Helm.
        </p>
        <p class="reviews-experience-wrapper-right-desc">
          Gareth has been in marketing for over 30 years and spent half of his career in the leadership team in a range
          of business at different development stages. From Chief Marketing Officer for mature businesses like McDonalds
          and Mars, through to being in the leadership team in growth businesses like Zoopla and MoneySuperMarket and
          successful start-ups like Innocent drinks and Tails.com.
        </p>
        <p class="reviews-experience-wrapper-right-desc">
          He has been recognised as one of the top 100 most effective marketers, is the author of The Marketing Leader’s
          Code and a Fellow of the a Academy, a community of over 200 senior marketing leaders globally.
        </p>
        <p class="reviews-experience-wrapper-right-desc">
          Gareth is trained in executive coaching at Ashridge-Hult Business School
        </p>
      </div>
    </div>
  </div>
</div>
