<div class=reviews__two">
  <div class="container-fluid">
    <div class="reviews__two-content">
      <div class="reviews__two-content-img">
        <img src="img/book2.png" alt="">
      </div>
      <div class="reviews__two-content-info reviews__two-info">
        <h2 class="reviews__two-content-info-title">The Marketing<br>
          Leader’s Code Reviews</h2>
        <p class="reviews__two-content-info-bold reviews__two-title">
          The Marketing Leaders Code has helped business leaders and marketers. Here are some of the comments from
          start-ups through to large mature businesses:
        </p>
        <a class="reviews__two-content-info-btn" href="#">Buy the Book</a>
      </div>
    </div>
  </div>
  <div class="reviews__two-text">
    <h4>
      “"Something is going very wrong in the relationship between CEOs and CMOs... 
      ...80% of CEOs don't trust or are unimpressed by their CMO. <br>
      In comparison, just 10% of the same CEOs feel the same way about their CFOs and CIOs.” 
    </h4>
    <p>
      Kimberley Whitler
    </p>
  </div>
  <div class="reviews__two-text reviewsBgGray">
    <h4>
      “"Something is going very wrong in the relationship between CEOs and CMOs... 
      ...80% of CEOs don't trust or are unimpressed by their CMO. <br>
      In comparison, just 10% of the same CEOs feel the same way about their CFOs and CIOs.” 
    </h4>
    <p>
      Kimberley Whitler
    </p>
  </div>
  <div class="reviews__two-text">
    <h4>
      “"Something is going very wrong in the relationship between CEOs and CMOs... 
      ...80% of CEOs don't trust or are unimpressed by their CMO. <br>
      In comparison, just 10% of the same CEOs feel the same way about their CFOs and CIOs.” 
    </h4>
    <p>
      Kimberley Whitler
    </p>
  </div>
  <div class="reviews__two-text reviewsBgRed">
    <h4>
      “"Something is going very wrong in the relationship between CEOs and CMOs... 
      ...80% of CEOs don't trust or are unimpressed by their CMO. <br>
      In comparison, just 10% of the same CEOs feel the same way about their CFOs and CIOs.” 
    </h4>
    <p>
      Kimberley Whitler
    </p>
  </div>
  <div class="reviews__two-text reviewsBgWhite">
    <h4>
      “"Something is going very wrong in the relationship between CEOs and CMOs... 
      ...80% of CEOs don't trust or are unimpressed by their CMO. <br>
      In comparison, just 10% of the same CEOs feel the same way about their CFOs and CIOs.” 
    </h4>
    <p>
      Kimberley Whitler
    </p>
  </div>
</div>
