<div class="services">
  <div class="container-fluid">
    <h2 class="services__title">Our Services</h2>
    <div class="services__content">

      <div class="services__content__item">
        <div class="services__content__item-header">
          <h3 class="services__content__item-header-title">Advising</h3>
        </div>
        <div class="services__content__item-body">
          <img src="img/services1.png" alt="">
        </div>
        <div class="services__content__item-footer">
          <p class="services__content__item-footer-desc">
            We help marketing leaders make an impact quicker.
          </p>
          <p class="services__content__item-footer-more trigger3">Learn more ></p>
        </div>
      </div>

      <div class="services__content__item">
        <div class="services__content__item-header">
          <h3 class="services__content__item-header-title">Coaching</h3>
        </div>
        <div class="services__content__item-body">
          <img src="img/services2.png" alt="">
        </div>
        <div class="services__content__item-footer">
          <p class="services__content__item-footer-desc">
            Mentoring
            We help future marketers upskill and accelerate their
            careers.
          </p>
          <p class="services__content__item-footer-more trigger4">Learn more ></p>
        </div>
      </div>

      <div class="services__content__item">
        <div class="services__content__item-header">
          <h3 class="services__content__item-header-title">Mentoring</h3>
        </div>
        <div class="services__content__item-body">
          <img src="img/services3.png" alt="">
        </div>
        <div class="services__content__item-footer">
          <p class="services__content__item-footer-desc">
            We help business leaders get the best
            out of Marketing.
          </p>
          <p class="services__content__item-footer-more trigger5">Learn more ></p>
        </div>
      </div>

      <div class="services__content__item">
        <div class="services__content__item-header">
          <h3 class="services__content__item-header-title">Delivering</h3>
        </div>
        <div class="services__content__item-body">
          <img src="img/services4.png" alt="">
        </div>
        <div class="services__content__item-footer">
          <p class="services__content__item-footer-desc">
            We help deliver key projects with our independent expert teams.
          </p>
          <p class="services__content__item-footer-more trigger6">Learn more ></p>
        </div>
      </div>

    </div>
  </div>


  <!-- modal  -->
  <div class="services-modal">
    <div class="services-modal-content">
      <span class="close-button3 services-modal-content-button">Close</span>
      <div class="services-modal-body">
        <div class="services-modal-body-left">
          <h3 class="services-modal-body-left-title">Advising</h3>
          <img src="img/services1.png" alt="">
        </div>
        <div class="services-modal-body-right">
          <p class="services-modal-body-right-desc">
            Sideminds works with business leaders around the world to accelerate the performance of marketing.
          </p>
          <p class="services-modal-body-right-desc">
            Over the last 10 years marketing has gone through a seismic shift, with responsibility changing by over 50%1
            and expectations and demands skyrocketing. Marketing channels and customer journeys have expanded, data
            sources and technology advanced, and the need for innovation continuously grows. A dramatic changes which
            has created a plethora of new roles like Chief Digital Officer, Chief Customer Officer and Chief Growth
            Officer, a diversification you don’t see in any other leadership role.
          </p>
          <p class="services-modal-body-right-desc">
            Change at this level means the role can be less understood by the leadership team, creating confusion,
            frustration and delay. No wonder the marketing leader is the last trusted2 member of the executive team and
            the shortest tenure at just over 2 years3.
          </p>
          <p class="services-modal-body-right-desc">
            This is a terrible waste of time and effort for everyone involved.
            Sideminds understands the needs of the business and works with the leadership and marketing teams to
            optimise effectiveness. When needed, Sideminds can also introduce external advisers or NEDs from its unique
            membership of The Marketing Academy Fellowship.
          </p>
        </div>
      </div>
    </div>
  </div>


  <!-- modal  -->
  <div class="services-modal4 ">
    <div class="services-modal-content">
      <span class="close-button4 services-modal-content-button">Close</span>
      <div class="services-modal-body">
        <div class="services-modal-body-left">
          <h3 class="services-modal-body-left-title">Coaching</h3>
          <img src="img/services2.png" alt="">
        </div>
        <div class="services-modal-body-right">
          <p class="services-modal-body-right-desc">
            Sideminds are experienced board level marketing leaders, who are qualified in executive coaching from
            Ashridge-Hult Business School.
          </p>
          <p class="services-modal-body-right-desc">
            We have experienced the highs and lows of the role and understand the unique requirements for the marketing
            leader to inspire both the marketing and senior leadership team.
          </p>
          <p class="services-modal-body-right-desc">
            Exceptional marketing leaders are more than just great marketers, they are the ultimate bridge between the
            organisation and the customer, who provide ongoing counsel and guidance to others, find new growth
            opportunities whilst delivering results today, and constantly ensuring key decision makers are informed and
            aligned across all departments and channels.
          </p>
          <p class="services-modal-body-right-desc">
            Success in role is far less about functional capability, but the ability to lead, shape opinions, get
            collective buy-in and inspire key stakeholders.
          </p>
          <p class="services-modal-body-right-desc">
            Sideminds’ executive coaching approach helps the marketing leader find their way to be more effective, more
            quickly with key stakeholders.
          </p>
        </div>
      </div>
    </div>
  </div>

  <!-- modal  -->
  <div class="services-modal5">
    <div class="services-modal-content">
      <span class="close-button5 services-modal-content-button">Close</span>
      <div class="services-modal-body">
        <div class="services-modal-body-left">
          <h3 class="services-modal-body-left-title">Mentoring</h3>
          <img src="img/services3.png" alt="">
        </div>
        <div class="services-modal-body-right">
          <p class="services-modal-body-right-desc">
            Sideminds helps the next generation of marketing leaders achieve their full potential.
          </p>
          <p class="services-modal-body-right-desc">

            Marketing is a wide and diverse field of skills and as you navigate your way to the leadership role it is
            important to grow your skillset and understand the breadth of opportunities available. As you become more
            experienced in one area of marketing, it becomes increasingly difficult to switch into another. This is why
            when it comes to senior marketing recruitment candidates are often either predominately a brand or digital
            background and it’s a risk putting them into roles encompassing both.
          </p>
          <p class="services-modal-body-right-desc">
            At Sideminds we are all experienced marketing leaders and have navigated our own journey from junior
            executive to C-suite leader, as well as supported many members of our teams on their careers. We’ve made
            strategic moves upwards and sometimes sideways and developed the critical experience to succeed as a leader.
            This experience enables us to support marketers as they progress, helping them grow in new areas and make
            the right choices to progress faster.
          </p>
          <p class="services-modal-body-right-desc">
            Sideminds acts as the side mind, mentoring growth and development.
          </p>
        </div>
      </div>
    </div>
  </div>

  <!-- modal  -->
  <div class="services-modal6">
    <div class="services-modal-content">
      <span class="close-button6 services-modal-content-button">Close</span>
      <div class="services-modal-body">
        <div class="services-modal-body-left">
          <h3 class="services-modal-body-left-title">Delivering</h3>
          <img src="img/services4.png" alt="">
        </div>
        <div class="services-modal-body-right">
          <p class="services-modal-body-right-desc">
            Sideminds has a trusted loyal networks of independent marketing specialists built up over years to tackle
            bespoke projects.
          </p>
          <p class="services-modal-body-right-desc">
            There couldn’t be a better time to be a marketing leader as focus increases on the customer, but as the role
            expands and the challenges grow, the marketing leader and their team can become over-stretched. Focus shifts
            to short-term delivery and projects that could open future growth are shelved because the leadership and
            resources aren’t available.
          </p>
          <p class="services-modal-body-right-desc">
            Sideminds are senior marketing leaders who can take on marketing briefs with an independent team of experts.
            The experts range from Creative Directors and insight specialists to SEO experts and organisational
            designers. Experts who are known and trusted by Sideminds to deliver.
          </p>
          <p class="services-modal-body-right-desc">
            Each brief is carefully crafted to ensure they standalone from wider coaching or mentoring contracts, with
            clear governance so the marketing leader retains as much control as they require.
          </p>
          <p class="services-modal-body-right-desc">
            Sideminds have the leadership and independent experts to ensure future projects don’t get side-lined.
          </p>
        </div>
      </div>
    </div>
  </div>


</div>
