<div class="sing__container">
  <div class="container-lg">
    <div class="sing__container-wrapper">
      <div class="sing__container-wrapper-left">
        <img src="img/approach-img2.png" alt="">
      </div>
      <div class="sing__container-wrapper-right">
        <div class="sing__container-wrapper-right-header">
          <img src="img/logo.png" alt="">
        </div>
        <h3 class="sing__container-wrapper-right-title">Sign In</h3>
        <form action="">
          <div class="sing__container-wrapper-right-inputs">
            <label for="name">
              Email
              <input type="email" name="" id="name" required>
            </label>
            <label for="pass">
              Password
              <input type="password" name="" id="pass" required>
            </label>
          </div>
          <div class="sing__container-wrapper-right-inputs">
            <label class="checkbox">
              <input class="sing__container-wrapper-right-inputs-checkbox" type="checkbox" name="" id="checkbox">
              Remember Me
            </label>
            <label>
              <a class="sing__container-wrapper-right-inputs-link" href="forgot.html">Forgot Password?</a>
            </label>
          </div>
          <div class="sing__container-wrapper-right-button">
            <button class="btn-reset ">Sign In</button>
          </div>
          <div class="sing__container-wrapper-right-bottom">
            <a href="sing__container-wrapper-right-bottom-link">Create an account</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
